#delayed-job-ui {
  * {
    box-sizing: border-box;
    &:before, &:after {
      box-sizing: inherit;
    }
  }

  .panel {
    border-radius: 0;
    background: white;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2);

    .content {
      margin-top: 20px;
    }
  }

  dl {
    dt {
      font-size: 80%;
      color: #999;
      width: 60px;
      float: left;
      padding-top: 1px;
      text-align: right;
    }
    dd {
      margin-bottom: 10px;
      margin-left: 70px;
    }
  }

  .tabs {
    background: #eee;
    li {
      float: left;
      list-style: none;
      margin-bottom: 0;

      a.tab-title {
        position: relative;
        color: #A1A1A1;
        background: #F4F4F4;
        border-top: 4px solid #ddd;
        box-shadow: 1px 0px 1px rgba(0,0,0,0.2);
        margin-right: 5px;
        padding: 10px 40px;
        display: block;
        z-index: 10;
        top: 1px;

        &.active {
          top: 1px;
          color: black;
          border-top: 5px solid #D65F75;
          background: white;
          border-bottom: none;
          border-right: none;
          box-shadow: 1px -2px 1px rgba(0,0,0,0.2);
          z-index: 999;
        }

        &:hover {
          background: white;
          text-decoration: none;
        }
      }
    }
  }

  .delayed_job_ui_button {
    padding: 10px 16px;
    margin: 0;
    line-height: 11px;
    background: #1ABC9C;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    color: white;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background: #17A88C;
    }

    &.delete {
      background: #D65F75;
      &:hover {
        background: #C05569
      }
    }
  }

  .delayed_job {
    margin-bottom: 20px;
  }

  .cf {
    &:before, &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  .inline-block {
    display: inline-block;
  }

  table.dataTable {
      .ui-state-default {
          background-color: #F2F2F2;
          border-bottom: 1px solid #E0E0E0;
      }
      td {
          background-color: white;
          border-bottom: 1px solid lightgray;
          vertical-align: top;
          &.sorting_1 {
              background-color: #F2F2F2;
          }
      }
      th {
          border-left: none;
          border-right: none;
          border-top: 1px solid #E0E0E0;
          border-bottom: 1px solid #E0E0E0;
          color: #999999;
          font-weight: bold;
          font-size:10px;
          line-height:10px;
          text-transform:uppercase;
      }
      tr {
          background-color: white;
          &.even > td, &.odd > td {
              &.highlight {
                  background-color: #F2F2F2;
              }
              background-color: white;
          }
      }
  }
}