#delayed-job-ui {
  * {
    box-sizing: border-box;
    &:before, &:after {
      box-sizing: inherit;
    }
  }

  .panel {
    background: white;
    border-top: 1px solid #E0E0E0;

    .content {
      margin-top: 20px;
    }
  }

  dl {
    dt {
      font-size: 80%;
      color: #999;
      width: 60px;
      float: left;
      padding-top: 1px;
      text-align: right;
    }
    dd {
      margin-bottom: 10px;
      margin-left: 70px;
    }
  }

  .tabs {
    .tab-title {
      float: left;
      list-style: none;
      margin-bottom: 0;

      a {
        position: relative;
        top: 4px;
        color: #A1A1A1;
        background: #F4F4F4;
        border-right: 1px solid #E0E0E0;
        border-top: 1px solid #E0E0E0;
        padding: 10px 40px;
        display: block;

        &:hover {
          background: white;
          text-decoration: none;
        }
      }

      &.active {
        a {
          top: 1px;
          color: black;
          border-top: 5px solid #D65F75;
          background: white;
          border-bottom: none;
        }
      }
    }
  }

  .delayed_job_ui_button {
    padding: 15px 24px;
    margin: 0;
    line-height: 11px;
    background: #1ABC9C;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    color: white;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: #17A88C;
    }

    &.delete {
      background: #D65F75;
      &:hover {
        background: #C05569
      }
    }
  }

  .delayed_job {
    margin-bottom: 20px;
  }

  .cf {
    &:before, &:after {
      display: table;
      content: '';
      clear: both;
    }
  }

  .inline-block {
    display: inline-block;
  }
}