#delayed-job-ui {
  dl {
    dt {
      font-size: 80%;
      color: #999;
      width: 60px;
      float: left;
      padding-top: 1px;
      text-align: right;
    }
    dd {
      margin-bottom: 10px;
      margin-left: 70px;
    }
  }
}